
body{
    position: relative;
    
}
nav{
 position: absolute;
right: 5px;
top: 5px;
text-transform: capitalize;
background-color: rgb(240, 255, 255);
font-size: 20px;
}
a {
    text-decoration: none;
}
.logo {
    position: absolute;
    top: 5px;
    left: 5px;
}
h1 {
    position: absolute;
    top: 70px;
    right: 630px;
    font-size: xx-large;
    font-style: italic;
}

#main{
    position: relative;
    margin: 30px;
}
#info {
    position:absolute;
    top: 50px;
    left:300px;
    font-size: large;
   
}
header{
    position: relative;
}
h2{
    position: absolute;
    left: 300px;
    font-size: x-large;
}
#userinfo {
    position: relative;
}
fieldset{
    position:absolute;
    left:500px;
    font-size: large;
}
legend{
    text-transform: capitalize;
    margin: 5px;
    padding: 5px;
}
#last{
    position: relative;
    background-color:rgba(42, 161, 165, 0.755);
    height: 80px;
    top: 548px;
    padding: 5px;
    margin:5px;
}
footer{
    color: black;
    position: absolute;
    padding: 5px;
    margin: 5px;}
  
#copysign{
     color: white;
    }
    input{
       width: 300px;
       height: 50px
       
    }
    textarea{
        width: 300px;
        height: 50px;
        resize: none;
        border: 1px solid black;
    }